@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

* {
  font-variant-ligatures: none;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: rgb(38, 38, 38) transparent;
}

.shiki {
  background-color: transparent !important;
  font-size: 14px;
}


@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(4px);
  }
  70% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}